body {
    margin: 30px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-image: url(./images/colourful.jpg);
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
  background-color: white;
  border-radius: 10%;
  width: fit-content;
  text-align: center;
  letter-spacing: 5px;
  margin: auto;
}

.transaction-list {
  display: inline-block;
  margin: 30px
}

img {
  border-radius: 5%;
  width: 350px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.btn {
    background-color: rgba(red, green, blue, alpha);
    box-shadow: rgba(13, 88, 31, 0.2) 0 1px 0 inset;
    margin: 10%;
    border-radius: 15%;
    font-size: large;
    text-align: center;
    padding: 10%;
}

/* modal */
/* The Video Modal (background) */
#vidModal {
  position: fixed;
  z-index: 9999;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  overflow: auto;

}

.hidden {
  display: none;
}

button#quizBtn {
  padding: 50px;
  border-radius: 5%;
}

#quizModal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 30px;
  left: 15%;
  width: 70%;
  overflow: auto; /* Enable scroll if needed */

}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #85b9e3;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 50px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  
  @keyframes modalopen {
    from{opacity: 0}
    to {opacity: 1}
  }

  /* The quiz answer boxes*/
  .choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.3rem;
    border: 00.1rem solid rgb (86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translate(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between; /* puts available space between */
}

.hud-item {
    text-align: center;
    font-size: 1.6rem;
}

.hud-main-text {
    text-align: center;
}

.sadGrade {
  background: url(./images/tryAgain.jpg);
  background-size: cover;
  padding: 150px;
  border-radius: 5%;
  width: 20%;
  margin: 0 auto;
}

.goodGrade {
  background: url(./images/wellDone.jpg);
  background-size: cover;
  padding: 150px;
  border-radius: 5%;
  width: 20%;
  margin: 0 auto;
}

h1.sadGrade {
  color: rgb(240, 8, 8);
  font-size: 50px;
}

h1.goodGrade {
  color: white;
  font-size: 100px;
}